.margin-top-bar {
    margin-top: 8px;
}

.small-brand {
    padding: 12px;
    max-width: 80px;
    max-height: 80px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}